<?xml version="1.0" encoding="utf-8"?>
<!--
 * Created V/22/10/2021
 * Updated V/24/03/2023
 *
 * Copyright 2021-2023 | Fabrice Creuzot <fabrice~cellublue~com>
 * Copyright 2021-2022 | Jérôme Siau <jerome~cellublue~com>
 * https://github.com/kyrena/openmage-paymentmax
 *
 * This program is free software, you can redistribute it or modify
 * it under the terms of the GNU General Public License (GPL) as published
 * by the free software foundation, either version 2 of the license, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but without any warranty, without even the implied warranty of
 * merchantability or fitness for a particular purpose. See the
 * GNU General Public License (GPL) for more details.
-->

<config>
	<modules>
		<Kyrena_Paymentmax>
			<version>1.1.1</version>
		</Kyrena_Paymentmax>
	</modules>
	<global>
		<blocks>
			<paymentmax>
				<class>Kyrena_Paymentmax_Block</class>
			</paymentmax>
		</blocks>
		<helpers>
			<paymentmax>
				<class>Kyrena_Paymentmax_Helper</class>
			</paymentmax>
			<payment>
				<rewrite>
					<data>Kyrena_Paymentmax_Helper_Rewrite_Payment</data>
				</rewrite>
			</payment>
		</helpers>
		<models>
			<paymentmax>
				<class>Kyrena_Paymentmax_Model</class>
			</paymentmax>
		</models>
		<resources>
			<paymentmax_setup>
				<setup>
					<module>Kyrena_Paymentmax</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</paymentmax_setup>
		</resources>
		<payment>
			<groups>
				<paymentmax>Paymentmax</paymentmax>
				<paymentmax_old>Paymentmax old/inactive</paymentmax_old>
			</groups>
		</payment>
	</global>
	<frontend>
		<routers>
			<paymentmax>
				<use>standard</use>
				<args>
					<module>Kyrena_Paymentmax</module>
					<frontName>paymentmax</frontName>
				</args>
			</paymentmax>
		</routers>
		<translate>
			<modules>
				<Kyrena_Paymentmax>
					<files>
						<default>Kyrena_Paymentmax.csv</default>
					</files>
				</Kyrena_Paymentmax>
			</modules>
		</translate>
		<events>
			<sales_quote_collect_totals_before>
				<observers>
					<paymentmax>
						<class>paymentmax/observer</class>
						<method>updateCurrencyForOrder</method>
					</paymentmax>
				</observers>
			</sales_quote_collect_totals_before>
			<sales_quote_save_before>
				<observers>
					<paymentmax>
						<class>paymentmax/observer</class>
						<method>updateCurrencyForOrder</method>
					</paymentmax>
				</observers>
			</sales_quote_save_before>
		</events>
	</frontend>
	<adminhtml>
		<events>
			<admin_system_config_changed_section_payment>
				<observers>
					<paymentmax>
						<class>paymentmax/observer</class>
						<method>clearConfig</method>
					</paymentmax>
				</observers>
			</admin_system_config_changed_section_payment>
			<adminhtml_init_system_config>
				<observers>
					<paymentmax>
						<class>paymentmax/observer</class>
						<method>hideConfig</method>
					</paymentmax>
				</observers>
			</adminhtml_init_system_config>
		</events>
		<layout>
			<updates>
				<paymentmax>
					<file>kyrena/paymentmax.xml</file>
				</paymentmax>
			</updates>
		</layout>
		<translate>
			<modules>
				<Kyrena_Paymentmax>
					<files>
						<default>Kyrena_Paymentmax.csv</default>
					</files>
				</Kyrena_Paymentmax>
			</modules>
		</translate>
	</adminhtml>
	<crontab>
		<jobs>
			<paymentmax_cancel_orders>
				<run>
					<model>paymentmax/observer::cancelPendingOrders</model>
				</run>
				<schedule>
					<cron_expr>*/15 * * * *</cron_expr>
				</schedule>
			</paymentmax_cancel_orders>
		</jobs>
	</crontab>
	<default>
		<!-- list of countries/currencies of payment method with config.xml allowedcountry/allowedcurrency -->
		<!-- admin can set countries with system.xml allowspecific/specificcountry -->
		<payment>
			<paymentmax_paypal>
				<model>paymentmax/payment_paypal</model>
				<active>0</active>
				<img_backend>ic-logo-paypal.svg</img_backend>
				<title>PayPal</title>
				<group>paymentmax</group>
				<!-- https://github.com/OpenMage/magento-lts/pull/1805 -->
				<allowedcountry>AE,AR,AT,AU,BE,BG,BR,CA,CN,CH,CL,CR,CY,CZ,DE,DK,DO,EC,EE,ES,FI,FR,GB,GF,GI,GP,GR,HK,HU,ID,IE,IL,IN,IS,IT,JM,JP,KR,LI,LT,LU,LV,MQ,MT,MX,MY,NL,NO,NZ,PH,PL,PT,RU,RE,RO,SE,SG,SI,SK,SM,TH,TR,TW,US,UY,VE,VN,ZA</allowedcountry>
				<allowedcurrency>AUD,CAD,CZK,DKK,EUR,HKD,HUF,ILS,JPY,MXN,NOK,NZD,PLN,GBP,RUB,SGD,SEK,CHF,TWD,THB,USD,INR</allowedcurrency>
			</paymentmax_paypal>
			<paymentmax_paypalcheckout>
				<model>paymentmax/payment_paypalcheckout</model>
				<active>0</active>
				<title>PayPal</title>
				<group>paymentmax_old</group>
			</paymentmax_paypalcheckout>
			<paypal_billing_agreement>
				<model>paymentmax/payment_paypalbill</model>
				<active>0</active>
				<title>PayPal</title>
				<group>paymentmax_old</group>
			</paypal_billing_agreement>
			<paypal_direct>
				<model>paymentmax/payment_paypaldirect</model>
				<active>0</active>
				<title>PayPal</title>
				<group>paymentmax_old</group>
			</paypal_direct>
			<paypal_express>
				<model>paymentmax/payment_paypalexpress</model>
				<active>0</active>
				<title>PayPal</title>
				<group>paymentmax_old</group>
			</paypal_express>
			<paypal_express_bml>
				<model>paymentmax/payment_paypalexpressbml</model>
				<active>0</active>
				<title>PayPal</title>
				<group>paymentmax_old</group>
			</paypal_express_bml>
			<hosted_pro>
				<model>paymentmax/payment_paypalhostedpro</model>
				<active>0</active>
				<title>PayPal</title>
				<group>paymentmax_old</group>
			</hosted_pro>
			<payflow_advanced>
				<model>paymentmax/payment_paypalpayflowadvanced</model>
				<active>0</active>
				<title>PayPal</title>
				<group>paymentmax_old</group>
			</payflow_advanced>
			<payflow_link>
				<model>paymentmax/payment_paypalpayflowlink</model>
				<active>0</active>
				<title>PayPal</title>
				<group>paymentmax_old</group>
			</payflow_link>
			<paypal_standard>
				<model>paymentmax/payment_paypalstandard</model>
				<active>0</active>
				<title>PayPal</title>
				<group>paymentmax_old</group>
			</paypal_standard>
			<paypaluk_direct>
				<model>paymentmax/payment_paypalukdirect</model>
				<active>0</active>
				<title>PayPal</title>
				<group>paymentmax_old</group>
			</paypaluk_direct>
			<paypaluk_express>
				<model>paymentmax/payment_paypalukexpress</model>
				<active>0</active>
				<title>PayPal</title>
				<group>paymentmax_old</group>
			</paypaluk_express>
			<verisign>
				<model>paymentmax/payment_paypalverisign</model>
				<active>0</active>
				<title>PayPal</title>
				<group>paymentmax_old</group>
			</verisign>
			<paypal_wps_express>
				<model>paymentmax/payment_paypalwps</model>
				<active>0</active>
				<title>PayPal</title>
				<group>paymentmax_old</group>
			</paypal_wps_express>
			<paymentmax_tpay>
				<model>paymentmax/payment_tpay</model>
				<active>0</active>
				<img_backend>ic-logo-tpay.svg</img_backend>
				<title>Tpay</title>
				<group>paymentmax</group>
				<allowedcountry>AT,BE,BG,CY,CZ,DE,DK,EE,ES,FI,FR,GR,HR,HU,IE,IT,LT,LU,LV,MT,NL,PL,PT,RO,SE,SI,SK</allowedcountry>
				<allowedcurrency>PLN</allowedcurrency>
			</paymentmax_tpay>
			<paymentmax_tpayblik>
				<model>paymentmax/payment_tpayblik</model>
				<active>0</active>
				<img_backend>ic-logo-tpay.svg</img_backend>
				<title>Tpay Blik</title>
				<group>paymentmax</group>
				<allowedcountry>AT,BE,BG,CY,CZ,DE,DK,EE,ES,FI,FR,GR,HR,HU,IE,IT,LT,LU,LV,MT,NL,PL,PT,RO,SE,SI,SK</allowedcountry>
				<allowedcurrency>PLN</allowedcurrency>
			</paymentmax_tpayblik>
			<paymentmax_tpaycard>
				<model>paymentmax/payment_tpaycard</model>
				<active>0</active>
				<img_backend>ic-logo-tpay.svg</img_backend>
				<title>Tpay Karta płatnicza</title>
				<group>paymentmax</group>
				<allowedcountry>AT,BE,BG,CY,CZ,DE,DK,EE,ES,FI,FR,GR,HR,HU,IE,IT,LT,LU,LV,MT,NL,PL,PT,RO,SE,SI,SK</allowedcountry>
				<allowedcurrency>PLN</allowedcurrency>
			</paymentmax_tpaycard>
			<paymentmax_tpayggpay>
				<model>paymentmax/payment_tpayggpay</model>
				<active>0</active>
				<img_backend>ic-logo-tpay.svg</img_backend>
				<title>Tpay Google Pay</title>
				<group>paymentmax</group>
				<allowedcountry>AT,BE,BG,CY,CZ,DE,DK,EE,ES,FI,FR,GR,HR,HU,IE,IT,LT,LU,LV,MT,NL,PL,PT,RO,SE,SI,SK</allowedcountry>
				<allowedcurrency>PLN</allowedcurrency>
			</paymentmax_tpayggpay>
			<tpay>
				<model>paymentmax/payment_tpayold</model>
				<active>0</active>
				<title>Tpay</title>
				<group>paymentmax_old</group>
			</tpay>
			<tpayCards>
				<model>paymentmax/payment_tpaycards</model>
				<active>0</active>
				<title>Tpay</title>
				<group>paymentmax_old</group>
			</tpayCards>
			<paymentmax_yookassa>
				<model>paymentmax/payment_yookassa</model>
				<active>0</active>
				<img_backend>ic-logo-yookassa.svg</img_backend>
				<title>YooKassa</title>
				<allowspecific>1</allowspecific>
				<specificcountry>RU</specificcountry>
				<group>paymentmax</group>
				<allowedcountry>RU</allowedcountry>
				<allowedcurrency>RUB</allowedcurrency>
			</paymentmax_yookassa>
			<paymentmax_yookassaqiwi>
				<model>paymentmax/payment_yookassaqiwi</model>
				<active>0</active>
				<img_backend>ic-logo-yookassa.svg</img_backend>
				<title>Qiwi</title>
				<allowspecific>1</allowspecific>
				<specificcountry>RU</specificcountry>
				<max_order_total>250000</max_order_total>
				<group>paymentmax</group>
				<allowedcountry>RU</allowedcountry>
				<allowedcurrency>RUB</allowedcurrency>
			</paymentmax_yookassaqiwi>
		</payment>
	</default>
</config>